:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url("../assets/halo-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
    
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#character-img{
    display: flex;
    background-color: black;
    justify-content: flex-end;
    height: 350px;
    width: 350px;
    margin: 50px, 0px;
    border: green solid 2px;
}

.character{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
}

.character p{
    color: lightseagreen;
    font-size: 20px;
    background-color: black;
    width: 100px;
    text-align: center;
}

#character-hp{
    color: lightseagreen;
    font-size: 3rem;
    background-color: black;
    width: 100px;
    text-align: center;
}

#grunt-area{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 10px, 0px;
    position:fixed;
    right: 30%;
    top: 30%;
    width: 650px;
    
    
}

/* #grunt-area{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1rem;
    border-color: red;
} */

#defeated-grunts{
    display: flex;
    justify-content: flex-start;
    border-radius: 30px;
    border-color: black;
    padding: 15px;
    margin: 30px;
    font-size: 25px;
    color: lightseagreen;
    background-color: black;
    width: 300px;
    
}

form{
    display: flex;
    justify-content: flex-start;
    margin: 20px;
    
}

button{
    padding: 20px;
    background-color: black;
    color: lightseagreen;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 30px;
}

.grunt-name{
    border-radius: 10px;
    
}
button:hover{
    background-color: deepskyblue;
}

.grunt{
    background-color: black;
    color:red;
    border: aqua solid 2px;
    margin: 20px;
    text-align: center;
}

.gruntDeath{
    width: 120px;
    height: 120px;
    background-color: white;
}