:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: .8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

#character-img{
    display: flex;
    background-color: black;
    justify-content: flex-end;
    height: 350px;
    width: 350px;
    margin: 50px, 0px;
}

.character{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

#grunt-area{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 400px, 0px;
}

#grunt-area{
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: 1rem;
    border-color: red;
}

#defeated-grunts{
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border-color: black;
    padding: 15px;
    margin: 30px;
    
}

form{
    display: flex;
    justify-content: center;
}

button{
    padding: 20px;
    background-color: black;
    color: lightseagreen;
}